.tableHead{
	background-color: #006080;
	color: white;
	font-size: 140%;
}

.topbuttons{
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
	color: black;
	text-decoration:none;
	border-radius: 7px;
	font-size: large;
	border-bottom: 1px solid gray;
	margin-left: 10%;
}

.topbuttons:hover {
	background-color: #ffd480;
}
.topper{
	background-color: black;
}